<div id="login">
  <form (ngSubmit)="onSubmit()">
    <fieldset class="login">
      <p class="header">Welcome!</p>
      <div class="spacer"></div>
      <label for="username">Username:</label>
      <input name="username" [(ngModel)]="username" type="email" readonly />
      <div class="spacer"></div>
      <label for="password">Password:</label>
      <input name="password" [(ngModel)]="password" type="text" readonly />
      <div class="spacer"></div>
      <button type="submit" class="button">Login</button>
    </fieldset>
  </form>
</div>
