<ng-container *ngIf="storeService.store$ | async as state">
  <div [class]="state.map.class">
    <app-layer-ui></app-layer-ui>
    <app-icon-ui></app-icon-ui>
    <app-trail-ui></app-trail-ui>
  </div>
</ng-container>
