<ng-container *ngIf="storeService.store$ | async as state">
  <select appTrailChange id="trail" [@slide]="slide">
    <option *ngFor="let trail of state.trails">{{ trail.name }}</option>
  </select>
</ng-container>
