<section class="headerContainer">
  <img class="logo" src="assets/logo.png" alt="Geospatial Web" />
  <div class="name">Geospatial Web</div>
  <div class="title">NestJS | Angular 9 | Esri ArcGIS 4 | Mapbox GL | Deck.GL | PostGIS 3 | Docker</div>
  <a class="repo" href="https://gitlab.com/arcgis-angular-nestjs" target="_blank">GitLab Repository</a>
</section>
