section.headerContainer {
  background: rgb(120, 110, 100);
  font-family: 'Orbitron', sans-serif;
  height: 45px;
  width: 100%;

  img.logo {
    position: absolute;
    left: 8px;
    top: 6px;
    height: 35px;
    width: 35px;
  }

  div.name {
    position: absolute;
    font-size: 1.3em;
    left: 50px;
    top: 12px;
  }

  div.title {
    position: absolute;
    color: rgb(160, 0, 0);
    font-size: 1.05em;
    left: 245px;
    top: 16px;
  }

  a.repo {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    right: 10px;
    top: 15px;
  }
}
