div#icon {
  img#biosphere-icon {
    cursor: pointer;
    position: absolute;
    left: 23px;
    top: 108px;
  }

  img#office-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 136px;
  }

  img#places-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 166px;
  }

  img#trails-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 196px;
  }

  img#heatmap-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 227px;
  }

  img#logout-icon {
    cursor: pointer;
    position: absolute;
    left: 22px;
    top: 257px;
  }
}
