<ng-container *ngIf="storeService.store$ | async as state">
  <div id="icon" [@visibility]="visible" *ngFor="let layerElement of state.layerElements">
    <img
      appIconClick
      [id]="layerElement.icon_id"
      [src]="layerElement.src"
      [height]="layerElement.height"
      [width]="layerElement.width"
    />
  </div>
</ng-container>
